@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-color: #fcd277;
    --bg-color: #fffcfb;
    --heading-color: black;
    --p-color: #444;
    --border-color: black;
    --outline-color: skyblue;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Make media queries easier */
img,
video {
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: "Open Sans",Arial, sans-serif;
    background-color: var(bg-color);
}

h1 {
    color: var(--heading-color);
    font-size: 3rem;
}

p {
    font-family: Ubuntu,Arial, sans-serif;
    color: var(--p-color);
    font-size: 1rem;
}

.logo--highlight {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
    font-family: Ubuntu, Arial, sans-serif;
    font-weight: bolder;
}

.social-buttons {
    display: flex;
    gap: 1rem;
}

.social-buttons a img {
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.25s;
}

.social-buttons a img:hover {
    filter: invert(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
}

a {
    text-decoration: none;
    display: block;
}

/* *********************************************************************************************************** */
/* ***************************************************Navbar Starts******************************************* */
/* *********************************************************************************************************** */

.navbar {
    position: fixed;
    padding: 1.5rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to bottom,
            var(--primary-color) 0%,
            transparent 100%);
    z-index: 1000;
}

.navbar a {
    text-decoration-line: none;
}

.navbar__logo {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.navbar__links {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navbar__links li a {
    color: black;
    font-size: 1.5rem;
    transition: color 0.25s ease;
}

.navbar__links li a:hover {
    cursor: pointer;
    color: white;
    transform: ease;
}

/* *********************************************************************************************************** */
/* ***************************************************Navbar Ends******************************************* */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* ***************************************************Sidebar Starts******************************************* */
/* *********************************************************************************************************** */

#sidebar {
    display: none;
}

#sidebar__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#sidebar__button img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.2s ease;
}

/* Optional: Add hover effect */
#sidebar__button:hover img {
    filter: invert(1) drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    transform: scale(1.1);
}

/* *********************************************************************************************************** */
/* *****************************************************Sidebar Ends******************************************* */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Home Starts******************************************* */
/* *********************************************************************************************************** */
.home {
    display: flex;
    height: 100dvh;
    position: relative;
    z-index: 1;
}

.home__left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #a8edea 0%, white 100%);
}

.home__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home__greeting {
    font-size: 2rem;
    font-weight: bold;
}

.home__name {
    font-size: 2.5rem;
}

.home__role {
    font-size: 2rem;
    color: var(--p-color);
}

.home__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.home__hire-me {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 25px;
    background: #3d74b6;
    color: white;
    box-shadow: 0 0 5px 4px #bcd8fbae inset, 0 0 10px 4px white;
    outline-offset: 4px;
    transition: 0.4s;
    height: fit-content;
    width: fit-content;
    text-align: center;
}

.home__hire-me:hover {
    background: white;
    color: navy;
    box-shadow: 0 0 10px navy;
    cursor: pointer;
}

.home__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__photo {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    object-position: center;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%);
    mask-image: linear-gradient(to right, transparent 0%, black 40%);
}

/* *********************************************************************************************************** */
/* *****************************************************Home Ends********************************************* */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************About Starts**************************************** */
/* *********************************************************************************************************** */

.section {
    scroll-snap-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5dvh;
}

.section__title {
    width: 100%;
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__title h1 {
    width: 60%;
    height: 50%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    border: 2px solid var(--heading-color);
}

.section__main {
    width: 100%;
    height: 80dvh;
}

.about__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160dvh;
}


.about__top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.about__top__left,
.about__top__right {
    width: 50%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__top__right {
    text-align: center;
    justify-content: space-evenly;
}

.about__top__left img {
    width: 60%;
    height: 50%;
    flex: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.about__content {
    margin-top: 0;
    padding: 20px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about__down {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.about__down__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about__what-i-do__title {
    width: 80%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__what-i-do__content {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about__work {
    display: flex;
    width: 100%;
    height: 33%;
}

.about__work-img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__work-img img {
    width: 50%;
    height: 50%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.about__work-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.about__down__right {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__stats {
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;

    background: var(--heading-color);
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.about__stats::after{
    position: absolute;
    content: '';
    height: 80%;
    width: 3px;
    background: linear-gradient(to top, transparent 5%, var(--primary-color) 50%, transparent 100%) ;
}

.about__stats::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 80%;
    background: linear-gradient(to right, transparent 5%, var(--primary-color) 50%, transparent 100%) ;
}

.about__stats__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
}

.about__stats__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-sizing: border-box;
}

.about__stats-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about__stats-box h3 {
    font-size: 4.5rem;
}

.about__stats-box p {
    font-size: 3rem;
}

/* *********************************************************************************************************** */
/* *****************************************************About Ends******************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Education Starts**************************************** */
/* *********************************************************************************************************** */

.education__main {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education__timeline {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* vertical center line */
.education__timeline::after {
    content: "";
    position: absolute;
    width: 7px;
    background: linear-gradient(to top, transparent 5%, orange 40%, skyblue 60%, transparent 100%);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2.5px;
}

/* container blocks */
.education__timeline-container {
    padding: 2rem ;
    position: relative;
    width: 40%;
}

/* left side */
.education__timeline-container.left {
    left: 10%;
}

/* right side */
.education__timeline-container.right {
    left: 50%;
}

/* box content */
.education__content {
    background: white;
    padding: 20px;
    background-color: var(--heading-color);
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.education__timeline-container::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: radial-gradient(circle, orange 40%, yellow 60%);
    border: 3px solid white;
    top: 20px;
    right: -10px;
    border-radius: 50%;
    z-index: 1;
}

.education__timeline-container.right::after {
    left: -10px;
    right: auto;
}

/* *********************************************************************************************************** */
/* *****************************************************Education Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Skills Starts**************************************** */
/* *********************************************************************************************************** */

.skills__main {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.skills__box {
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__box img {
    width: 40%;
    height: 40%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

/* *********************************************************************************************************** */
/* *****************************************************Skills Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Projects Starts**************************************** */
/* *********************************************************************************************************** */

.projects__main {
    position: relative;
    border: 1px solid red;
    padding: 20px ;
    height: auto;
    box-sizing: border-box;
}

.projects__box {
    position: relative;
    margin: 20px;
    width: 70%;
    height: 30dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.project__image{
    width: 40%;
    height: 100%;
    border-radius: inherit;
}

.left-project{
    left: 0;
    border-radius: 0 10rem 10rem 0;
    flex-direction: row-reverse;
}

.right-project{
    left: calc(30% - 40px);
    border-radius: 10rem 0 0 10rem;
}

.project__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    object-position: center;
}


.project__description{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.project__buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project__buttons a img{
    background: none;
    width: 2.5rem;
    height: 2.5rem;
}



/* *********************************************************************************************************** */
/* *****************************************************Projects Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Contact Starts**************************************** */
/* *********************************************************************************************************** */

.contact__main {
    display: flex;
    border: 1px solid red;
}

.contact__left {
    width: 50%;
    background-color: cyan;
}

.contact__right {
    width: 50%;
    background-color: green;
}

/* *********************************************************************************************************** */
/* *****************************************************Contact Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Footer Starts**************************************** */
/* *********************************************************************************************************** */

.footer {
    width: 100%;
    background: linear-gradient(to top, #fddb92 0%, white 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer__top {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__name {
    font-size: 2rem;
}

.footer__role {
    font-size: 1.5rem;
}

.footer__buttons a img {
    width: 2rem;
    height: 2rem;
}

.footer__down {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__down img {
    width: 25px;
    height: 25px;
    /* margin: 2px; */
}

/* *********************************************************************************************************** */
/* *****************************************************Footer Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* ***************************************CSS for making the website responsive******************************* */
/* *********************************************************************************************************** */

@media (min-width: 1280px) {
    /* large screens */
}

@media (min-width: 1024px) {
    /* desktops */
}

@media (min-width: 768px) {
    /* small laptops */
}

@media screen and (min-width: 640px) {

    /* tablets */
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 480px) {

    /* phones */
    html {
        font-size: 60%;
    }

    .navbar {
        justify-content: space-between;
    }

    .navbar__logo {
        width: fit-content;
    }

    .navbar__logo a {
        display: block;
    }

    .navbar__links {
        display: none;
    }

    .home {
        flex-direction: column;
    }

    .home__left {
        width: 100%;
        height: 100dvh;
    }

    .home__container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .home__buttons {
        align-items: center;
    }

    .home__description {
        text-align: center;
    }

    .home__right {
        display: none;
    }

    #sidebar {
        display: block;
    }

    .section{
        padding: 0;
    }

    .about__top,
    .about__down {
        flex-direction: column;
    }

    .about__top__left,
    .about__top__right,
    .about__down__left,
    .about__down__right {
        width: 100%;
        height: 100%;
    }

    .about__top__left img {
        height: 100%;
    }

    .about__stats-box h3 {
        font-size: 2.5rem;
    }

    .about__stats-box p {
        font-size: 1rem;
    }

    .skills__box img {
        width: 8rem;
        height: 8rem;
    }

    .projects__box{
        height: 15dvh;
    }
}
