@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #fcd277;
    --bg-color: #FFFCFB;
    --heading-color: black;
    --p-color: #444;
    --border-color: black;
    --outline-color: skyblue;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: "Open Sans";
    background-color: var(bg-color);
}

h1{
    color: var(--heading-color);
}

p {
    font-family: "Ubuntu";
    color: var(--p-color);
}

.logo--highlight {
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
    font-family: 'Ubuntu', cursive;
    font-weight: bolder;
}

/* *********************************************************************************************************** */
/* ***************************************************Navbar Starts******************************************* */
/* *********************************************************************************************************** */

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to bottom, var(--primary-color) 0%, transparent 100%);
    z-index: 1000;
}

.navbar a{
    text-decoration-line: none;
}

.navbar__logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.navbar__links{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.navbar__links li a{
    color: black;
    font-size: x-large;
    transition: color 0.25s ease;
}

.navbar__links li a:hover{
    cursor: pointer;
    color: white;
    transform: ease;
}


/* *********************************************************************************************************** */
/* ***************************************************Navbar Ends******************************************* */
/* *********************************************************************************************************** */


/* *********************************************************************************************************** */
/* *****************************************************Home Starts******************************************* */
/* *********************************************************************************************************** */
.home {
    display: flex;
    height: 100dvh;
    position: relative;
    z-index: 1;
}

.home__left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #a8edea 0%, white 100%);
}

.home__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.home__greeting {
    font-size: 2rem;
    font-weight: bold;
}

.home__name {
    font-size: 2.3rem;
}

.home__role {
    font-size: 1.2rem;
    color: var(--p-color);
}

.home__description p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

.home__buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
}

.home__hire-me {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 20px;
    background: #3D74B6;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 5px 4px #bcd8fbae  inset, 0 0 10px 4px white;
    outline-offset: 4px;
    transition: 0.4s;
}

.home__hire-me:hover {
    background: white;
    color: navy;
    box-shadow: 0 0 10px navy;
    cursor: pointer;
}

.home__socials {
    display: flex;
    gap: 15px;
}

.home__social-link img {
    height: 35px;
    width: 35px;
    transition: 0.25s;
}

.home__social-link img:hover {
    filter: invert(0.3);
    transform: translateY(-5px);
}

.home__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__photo {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    object-position: center;
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 40%);
    mask-image: linear-gradient(to right, transparent 0%, black 40%);
}

/* *********************************************************************************************************** */
/* *****************************************************Home Ends********************************************* */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************About Starts**************************************** */
/* *********************************************************************************************************** */

.section{
    margin-top: 15px;
    scroll-snap-align: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5dvh;
}

.section__title{
    width: 100%;
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__title h1{
    width: 50%;
    height: 50%;
    text-transform: uppercase;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
    border-width: 2px;
    border-style: solid ;
    border-color: var(--heading-color);
}

.section__main{
    width: 100%;
    height: 80dvh;
}

.about__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160dvh;
}

.about__top{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.about__top__left, .about__top__right{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about__top__right{
    text-align: center;
    justify-content: space-evenly;
}

.about__top__left img{
    width: 60%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.about__content{
    margin-top: 0;
    padding: 20px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about__down{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.about__down__left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.about__what-i-do__title{
    width: 80%;
    height: 20%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
}
.about__what-i-do__content{
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.about__work{
    display: flex;
    width: 100%;
    height: 33%;
}

.about__work-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__work-img img{
    width: 50%;
    height: 50%;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.about__work-content{
    width: 70%;
    display: flex;
    flex-direction: column ;
    align-items: start;
    justify-content: center;
}


.about__down__right{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__stats{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    
    background-color: var(--heading-color);
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.about__stats__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 20px;
    /* border-radius: 25px; */
    box-sizing: border-box;
}

.about__stats__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-left: 3px solid var(--primary-color);
}

.about__stats-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 25px;
}

.about__stats-box:hover{
    transform: translateY(-5px);
}

.about__stats-box h3 {
    font-size: 4.5rem;
}

.about__stats-box p {
    font-size: 3rem;
}

#box-1 {
    border-bottom: 2px solid var(--primary-color);
}

#box-3 {
    border-bottom: 2px solid var(--primary-color);
}

/* *********************************************************************************************************** */
/* *****************************************************About Ends******************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Education Starts**************************************** */
/* *********************************************************************************************************** */

.education__main{
    /* border: 2px solid red; */
    padding: 20px;
    /* background-color: cyan; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.education__timeline {
  position: relative;
  width: 1000%;
  height: 100%;
  margin: auto;
  /* border: 2px solid green; */
}

/* vertical center line */
.education__timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-image: linear-gradient(to top, #30cfd0 0%, var(--primary-color) 100%);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

/* container blocks */
.education__timeline-container {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

/* left side */
.education__timeline-container.left {
  left: 0;
}

/* right side */
.education__timeline-container.right {
  left: 50%;
}

/* box content */
.education__content {
  background: white;
  padding: 20px;
  background-color: var(--heading-color);
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.education__timeline-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, orange 40%, yellow 60%);
  border: 3px solid white;
  top: 20px;
  right: -10px;
  border-radius: 50%;
  z-index: 1;
}

.education__timeline-container.right::after {
  left: -10px;
  right: auto;
}





/* *********************************************************************************************************** */
/* *****************************************************Education Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Skills Starts**************************************** */
/* *********************************************************************************************************** */

.skills__main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.skills__box{
    width: 20%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--heading-color);
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

.skills__box img{
    width: 8rem;
    height: 8rem;
    filter: drop-shadow(2px 2px 10px rgba(57, 218, 250, 0.7));
}

/* *********************************************************************************************************** */
/* *****************************************************Skills Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Projects Starts**************************************** */
/* *********************************************************************************************************** */

.projects__main{
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-evenly;
    border: 1px solid red;
}

.projects__box{
    margin-top: 20px;
    padding: 20px;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    border: 1px solid cyan;
    color: var(--primary-color);
    border-radius: 25px;
    box-shadow: 0 0 10px 5px grey;
    outline: 3px solid var(--primary-color);
}

#ai-note-maker{
    background-image: url(assets/projects/ai-note-maker.jpg);
    object-fit: contain;
    object-position:center;
}

#smart-contact-manager{
    background-image: url(assets/projects/contact-manager.jpg);
    object-fit: contain;
    object-position:center;
}

/* *********************************************************************************************************** */
/* *****************************************************Projects Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Contact Starts**************************************** */
/* *********************************************************************************************************** */

.contact__main{
    display: flex;
    border: 1px solid red;
}

.contact__left{
    width: 50%;
    background-color: cyan;
}

.contact__right{
    width: 50%;
    background-color: green;
}

/* *********************************************************************************************************** */
/* *****************************************************Contact Ends**************************************** */
/* *********************************************************************************************************** */

/* *********************************************************************************************************** */
/* *****************************************************Footer Starts**************************************** */
/* *********************************************************************************************************** */

.footer{
    width: 100%;
    height: 20dvh;
    background: linear-gradient(to top, #fddb92 0%, white 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer__top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__name{
    font-size: 2rem;
}

.footer__down{
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid var(--heading-color);
}

.footer__down img{
    width: 25px;
    height: 25px;
    margin: 2px;
}
/* *********************************************************************************************************** */
/* *****************************************************Footer Ends**************************************** */
/* *********************************************************************************************************** */


